<footer class="bg-dark text-light mt-5 py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Кинотеатр</h5>
                <p>Лучшие фильмы в самом центре города.</p>
            </div>
            <div class="col-md-3">
                <h6>Контакты</h6>
                <p>📞 +7 (999) 999-99-99<br>
                📍 г. Томск пр. Комсомольский 13б, ТРЦ «Изумрудный город», 3 этаж.</p>
            </div>
            <div class="col-md-3">
                <h6>Часы работы</h6>
                <p class="mb-0">
                  Ежедневно: 10:00 - 01:00<br>
                  Касса: 10:00 - 23:00
                </p>
            </div>
        </div>
    </div>
</footer>